body {
  margin-top: 125px;
  margin-bottom: 125px;
}

.header {
  border-radius: 20px 20px 0px 0px;
  padding: 40px 42px 0px 42px;
  width: 656px;
}

.header__image {
  border-radius: 10px;
  width: 656px;
}

.header__text {
  gap: 28px;
  padding-left: 0px;
  padding-right: 0px;
  width: 656px;
}

.header__title {
  font-size: 40px;
  line-height: 30px;
}

.main {
  border-radius: 0px 0px 20px 20px;
  padding: 37px 42px;
  width: 656px;
}

.preparationTime {
  gap: 22px;
  padding: 30px;
}

.preparationTime__title {
  color: var(--darkRaspberry);
  font-size: 20px;
}